* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1e1e2e;
  display: flex;
  color: #cdd6f4;
  font-size: 37px;
  font-family: "Pixelify Sans", serif;
}

div {
  border: 1px #585b70 solid;
}

#calc {
  display: flex;
  flex-direction: column;
}

#screen-row {
  padding-right: 10px;
  text-align: right;
  align-content: center;
  height: 150px;
  font-size: 80px;
  background-color: #11111b;
}

#second-row {
  display: flex;
}

#third-row {
  display: flex;
}

#fourth-row {
  display: flex;
}

#fifth-row {
  display: flex;
}

#sixth-row {
  display: flex;
}

.calcButton {
  min-width: 100px;
  height: 100px;
  text-align: center;
  align-content: center;
}

.double-width-button {
  flex-grow: 2;
}

#clr {
  color: #f38ba8;
}

#equals {
  color: #a6e3a1;
}

.number {
  background-color: #313244;
}
